# Fundamentals of Data Analysis Project
**by Clare Tubridy**
***

## Introduction
### Background
Fisher's Iris data set is a well-known and widely used data set in the field of machine learning and statistics. It is a valuable resource for researchers in this field. Its simplicity and small size make it an ideal starting point for exploring classification algorithms and statistical techniques.

### Project Outline
The goal of the project is to conduct a comprehensive analysis on the Iris Flower dataset. Each variable within the dataset will be systematically classified in this notebook. For numerical variables, appropriate summary statistics such as mean, median, and standard deviation will be calculated. Categorical variables will be summarized using counts and percentages. Suitable plots for visual representation of these variables must be choosem. Some of these plots include histograms, box plots, and scatter plots. The project aims to provide a well-documented and insightful examination of the dataset, highlighting key patterns and characteristics.
***

## Data Exploration
### Overview of Dataset

In [1]:
import pandas as pd

In [2]:
# Loads the Iris dataset from a CSV file
# Dataset got from GitHub
iris_data = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
iris_data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
# Summary of the dataframes basic information
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
# Summary of each variable
iris_data.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### Variables Present in Dataset
The data set consists of 50 samples from each of three species of Iris flowers (Iris Setosa, Iris Virginicia, and Irish Versicolor). Each sample has four numerical features which characterise different aspects of iris flowers. These features are crucial for understanding the subtle differences between various species within the dataset. These features are as follows:

1. **Sepal Length:**
- This is a numerical value that represents the length of the iris flowers sepal. The sepal is the outermost hoop of the flower. The sepal length is measured in centimeters.

2. **Sepal Width:**
- This is another numerical value which measures the width of the sepal. This too is measure in centimeters. 

3. **Petal Length:**
- The petal is the inner hoop of the flower. Petal length is measured in centimeters and gives an insight into the flowers overall size.

3. **Petal Width:**
- The petal width is similar to all the variables mentioned above as it is a numerical variable measured in centimeters.

4. **Variety:**
- Variety represents the species of the iris flowers. The three species are *Setosa*, *Versicolor*, and *Virginica*.

    ![Iris Flower](https://aigraduate.com/content/images/downloaded_images/Decision-Tree-Visualisation---Quick-ML-Tutorial-for-Beginners/1-jmz-I1DBBl8A52vkWUMgxg.png)

***

## Variable Classification
The rationale for choosing variable types and representation is to ensure efficent data handling and modeling in Python. Categorical variables are best represented as categorical data types in pandas for memory efficiency and improved performance, while numeric variables can be represented using native Python data types.

1. **Sepal Length & Sepal Width:**
- Type: Numerical
- Scale: Ratio
- Reasoning: These are numerical variables. They represent measurable quantities with meaningful zero points (absence of sepal). The scale is [ratios](https://www.voiceform.com/blog-posts/ratio-scale#:~:text=Ratio%20scales%20allow%20you%20to%20categorize%20and%20rank,can%20all%20be%20measured%20on%20a%20ratio%20scale.) as they have true zero points, have no negative values, and the ratios between values are meaningful. For example, if one observation has a value twice as large as another, then it means the quantity being measured is also twice as large.

2. **Petal Length & Petal Width:**
- Type: Numerical
- Scale: Ratio
- Reasoning: Similar to sepal length and width above, these variables are also numerical with a ratio scale. It involves measurements with a true zero point, and ratios between values are meaningful.

3. **Variety:**
- Type: Categorical
- Scale: Nominal
- Reasoning: The variety of species column is a cateforical variable. It represents different classes or categories of iris flowers. There is no inherent order or ranking among the species. Therefore, the scale is [nominal](https://statisticsbyjim.com/basics/nominal-ordinal-interval-ratio-scales/#:~:text=A%20nominal%20scale%20simply%20names%20categories%20that%20values,number%20of%20distinct%20groups%20based%20on%20a%20characteristic.).

***

## Summary Statistics
### Numerical Variables
The appropiate summary statistics for the numerical variables are as follows: mean, median, mode, ranges, and standard deviation. The mean is calculated by adding all up all values and dividing by the number of values. Otherwise known as average. The median is the middle value when the data is sorted. It is less sensitive to outliers than the mean. The mode is the value that appears most frequently in the dataset. The range is the difference between the maximum and minimum values. Finally, the standard deviation measures the amount of variation or dispersion of a set of values.

In [5]:
# Calculate mean, median, mode, range and standard diviation.
# https://pandas.pydata.org/pandas-docs/version/0.19/generated/pandas.DataFrame.mode.html
relevant_columns = ["sepal.length", "sepal.width", "petal.length", "petal.width"]

mean = iris_data[relevant_columns].mean()
median = iris_data[relevant_columns].median()
mode = iris_data[relevant_columns].mode().iloc[0]       # Extract the first mode if there are multiple
ranges = iris_data[relevant_columns].max() - iris_data[relevant_columns].min()
std_devs = iris_data[relevant_columns].std()

In [6]:
# Create a summary dataframe.
descriptive_stats = pd.DataFrame({
    "Mean": mean,
    "Median":median,
    "Mode": mode,
    "Range": ranges,
    "Standard Deviation": std_devs
})

# Display the descriptive statistics.
print(descriptive_stats)

                  Mean  Median  Mode  Range  Standard Deviation
sepal.length  5.843333    5.80   5.0    3.6            0.828066
sepal.width   3.057333    3.00   3.0    2.4            0.435866
petal.length  3.758000    4.35   1.4    5.9            1.765298
petal.width   1.199333    1.30   0.2    2.4            0.762238

### Categorical Variable

In [7]:
category_counts = iris_data['variety'].value_counts()
category_percentages = iris_data['variety'].value_counts(normalize=True) * 100

print("The Count of each species is:")
print(category_counts)
print("---" * 12)
print("The percentage of each species is:")
print(category_percentages)

The Count of each species is:
variety
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64
------------------------------------
The percentage of each species is:
variety
Setosa        33.333333
Versicolor    33.333333
Virginica     33.333333
Name: proportion, dtype: float64

### Descriptive Statistics of Each Species

In [8]:
# Seperating data into the different species. 
grouped_data = iris_data.groupby('variety')

In [11]:
# Calculate mean, median, mode, range and standard diviation for each species.
mean_species = grouped_data[relevant_columns].mean()
median_species = grouped_data[relevant_columns].median()
mode_species = grouped_data[relevant_columns].apply(lambda x: x.mode().iloc[0])
ranges_species = grouped_data[relevant_columns].max() - grouped_data[relevant_columns].min()
std_devs_species = grouped_data[relevant_columns].std()

In [14]:
# Create separate summary DataFrames for each statistic.
summary_mean = pd.DataFrame(mean_species)
summary_median = pd.DataFrame(median_species)
summary_mode = pd.DataFrame(mode_species)
summary_range = pd.DataFrame(ranges_species)
summary_std_dev = pd.DataFrame(std_devs_species)

In [16]:
print("Mean for Each Species:")
print(summary_mean)

Mean for Each Species:
            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa             5.006        3.428         1.462        0.246
Versicolor         5.936        2.770         4.260        1.326
Virginica          6.588        2.974         5.552        2.026

In [17]:
print("Median for Each Species:")
print(summary_median)

Median for Each Species:
            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa               5.0          3.4          1.50          0.2
Versicolor           5.9          2.8          4.35          1.3
Virginica            6.5          3.0          5.55          2.0

In [18]:
print("Mode for Each Species:")
print(summary_mode)

Mode for Each Species:
0           sepal.length  sepal.width  petal.length  petal.width
variety
Setosa               5.0          3.4           1.4          0.2
Versicolor           5.5          3.0           4.5          1.3
Virginica            6.3          3.0           5.1          1.8

In [19]:
print("Range for Each Species:")
print(summary_range)

Range for Each Species:
            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa               1.5          2.1           0.9          0.5
Versicolor           2.1          1.4           2.1          0.8
Virginica            3.0          1.6           2.4          1.1

In [20]:
print("Standard Deviation for Each Species:")
print(summary_std_dev)

Standard Deviation for Each Species:
            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa          0.352490     0.379064      0.173664     0.105386
Versicolor      0.516171     0.313798      0.469911     0.197753
Virginica       0.635880     0.322497      0.551895     0.274650

## Data Visualization

## Conclusion

***
## End