# Fundamentals of Data Analysis Project
**Clare Tubridy**
***

## Task 1 - Collatz Conjecture
> The Collatz conjecture is a famous unsolved problem in mathematics. The problem is to prove that if you start with any positive
integer x and repeatedly apply the function f(x) below, you always get stuck in the repeating sequence 1, 4, 2, 1, 4, 2, . . .
f(x) =

x รท 2 if x is even
3x + 1 otherwise

> Your task is to verify, using Python, that the conjecture is true for
the first 10,000 positive integers.

In [1]:
def f(x):
    # If x is even divide by two:
    if x % 2 == 0:
        return x // 2
    else:
        return (3 * x) + 1

In [2]:
def collatz(x):
    print(f'Testing Collatz with intial value {x}')
    while x !=1:
        x = f(x)
        print(x, end=' ')

In [3]:
collatz(5)

Testing Collatz with intial value 5
16 8 4 2 1

***
## Task 2 - Penguin Dataset
> Give an overview of the famous penguins data set, explaining
the types of variables it contains. Suggest the types of variables
that should be used to model them in Python, explaining your
rationale.

In [4]:
import pandas as pd

In [5]:
# Reading in the dataset
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv')
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

The dataset consists of 7 columns:
- **species**: This variable represents penguin species. It is a catergorical variable with three possible values: "Chinstrap", "Adeile", and "Gentroo". It can be represented as a categorical variable using **'pandas'**.
- **island**: This variable indicates the island where the penguins were observed. It is also a categorical variable with three possible values: "Dream", "Torgersen", and "Biscoe" in Antarctica. The **'pandas'** library can be used to represent it as a categorical data type.
- **bill_length_mm**: This variable represents the length of the penguins bill in millimeters. It is a numeric variable with continuous values. Pythons native numeric data types (e.g. float) can be used to represent this variable.
- **bill_depth_mm**: This variable represents the depth of the penguins bill in millimeters. Like bill length, it is a numeric variable with continuous values and can be represent using Pythons numeric data types. 
- **flipper_length_mm**: This variable indicates the penguins flipper length in millimeters. It is another numeric variable with continuous values and can be represented using Pythons numeric data types.
- **body_mass_g**: This variable represents the penguins body mass in grams. Similar to the other numeric values, it is continuous and can be represented using Pythons numeric data types.
- **sex**: This variable indicates the gender of the penguin and it is a categorical variable with two possible values: "Male" and "Female". It can be represented as a categorical variable using **'pandas'**.

***
## Task 3
>  For each of the variables in the penguins data set, suggest what probability distribution from the numpy random distributions list
is the most appropriate to model the variable.

***
## Task 4
> Suppose you are flipping two coins, each with a probability p of
giving heads. Plot the entropy of the total number of heads versus
p.

***
## Task 5
> Create an appropriate individual plot for each of the variables in
the penguin data set.

***
## End